<footer class="main-footer">
    <strong>
        Copyright &copy; {% now "Y" %} 
        <a href="#" target="_blank">THS</a>.
    </strong>
    All rights reserved.

    <!-- Social Links -->
    <span style="margin-left: 15px;">
        <a href="https://www.linkedin.com/in/sujay-kumar-mondal-a125481b7/" target="_blank" title="LinkedIn" style="margin-right: 8px;">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/SujayKumarMondal" target="_blank" title="GitHub">
            <i class="fab fa-github"></i>
        </a>
    </span>

</footer>
